@import 'typography';
@import 'variables';

* {
    box-sizing: border-box;
}

html {
    line-height: 1.2;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
